@if(isAddingTask){
  <app-new-task  [userId]="userId" (close)="onCloseAddTask()"/>
}

<section id="tasks">
  <header>
    <h2>{{ name }}'s Tasks</h2>
    <menu>
      <button (click)="onStartAddTask()" >Add Task</button>
    </menu>
  </header>

  <div class="filter-sort">
    <input type="text" placeholder="Search tasks by title" [(ngModel)]="searchTerm" />
    <select [(ngModel)]="sortOrder">
      <option value="asc">Due Date: Ascending</option>
      <option value="desc">Due Date: Descending</option>
    </select>
  </div>

  <ul>
    @for (task of filteredAndSortedTasks; track task.id) {
      <li>
        <app-task [task]="task"/>
      </li>
    }
  </ul>
</section>

